<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1078578778429-t1887e97brqhjgrp9qk9i2g5f569bape.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078578778429-t1887e97brqhjgrp9qk9i2g5f569bape</string>
	<key>API_KEY</key>
	<string>AIzaSyC3Vw9L2K7QaTg7gi8DbPHeiWe-ccu6Dq4</string>
	<key>GCM_SENDER_ID</key>
	<string>1078578778429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cforGood.app</string>
	<key>PROJECT_ID</key>
	<string>cforgood-12e74</string>
	<key>STORAGE_BUCKET</key>
	<string>cforgood-12e74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078578778429:ios:f64953dc2163a6c6</string>
	<key>DATABASE_URL</key>
	<string>https://cforgood-12e74.firebaseio.com</string>
</dict>
</plist>